@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/background-stars.svg") no-repeat center/cover;
  background-color: #070724;
  min-height: calc(100vh - 0.1px);
}

/* Fix the widths and heights of all planet images so they behave the same way */
img.planets {
  max-width: 100%;
  width: 300px;
  height: 300px;
}

p {
  line-height: 1.8;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

nav {
  @apply absolute -top-full bg-gray-900 w-full left-0 py-10 transition-all duration-200 lg:relative lg:bg-transparent lg:py-0 lg:w-auto;
}

nav.open {
  @apply top-16 lg:top-0;
}

/* Style all nav links */
nav ul li {
  @apply uppercase font-bold tracking-widest hover:opacity-75 transition-all duration-200 mb-8 lg:mb-0 text-base;
}

/* For some reason, the buttons were aligned to the center and I couldn't find out why. This just resets them to the left */
ul li button {
  text-align: left !important;
}

/* Increase planet images on bigger screens */
@media (min-width: 768px) {
  img.planets {
    width: 400px;
    height: 400px;
    height: 70%;
    width: 70%;
  }
}

@media (min-width: 1024px) {
  img.planets {
    width: 400px;
    height: 400px;
    height: 100%;
    width: 100%;
  }

  /* Space out all the links with a right margin, except the last link */
  nav ul li:not(li:last-child) {
    @apply mr-5;
  }
}
